.fl-right {
  float: right;
}

body,
.ui {
  font-size: 100%;
  font-family: "Roboto", sans-serif !important;
}

.ui.label {
  line-height: 1.5rem;
}

.shop-infor-field {
  margin-top: 10px;
}

.shop-infor-field h5 {
  margin-bottom: 5px;
}

/* admin section */
.section-header .ui.breadcrumb {
  font-size: 15px;
  padding-top: 15px;
}

.section-header button {
  float: right;
}

.section-header {
  margin-bottom: 15px;
  margin-top: 10px;
}

/* view menu */
.item.menu-item {
  min-height: 150px;
  margin-bottom: 10px;
  background: #e8e8e8;
  padding: 15px !important;
  border-radius: 5px;
}

.item .menu-item-actions {
  margin-top: 15px;
}

.item.menu-item .description {
  margin-top: 15px;
}

/* menu modify modal */
.menu-modify-modal .description,
.shop-modify-modal .description {
  min-width: 70% !important;
}

/* view orders */
.order-grid {
  height: calc(100vh - 215px);
}

/* cart */
.cart-item-name {
  font-size: 12px !important;
  margin-bottom: 5px !important;
}

.cart-item-note {
  font-size: 11px;
  font-style: italic;
}

.cart-quantity {
  background: #ecf0f1;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}

.cart-minus:hover {
  cursor: pointer;
}
.cart-plus:hover {
  cursor: pointer;
}

.total {
  font-weight: bold;
}

.menu-item-list {
  height: calc(100vh - 215px);
  overflow-y: auto;
  padding-right: 10px !important;
}

.primary-color {
  background-color: rgb(214, 48, 49, 0.1) !important;
}
